{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main/css/product_detail.css" %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="user-menu none">
        <ul class="category-menu-list">
            <li class="category-menu-item"><a href="#">Products</a></li>
            <li class="category-menu-item"><a href="#">Profile</a></li>
            <li class="category-menu-item"><a href="#">Top up balance</a></li>
            <li class="category-menu-item"><a href="#">Balance 123 $</a></li>
        </ul>
    </div>

    <div class="delete-menu none">
        <h2>Are you sure about deletion this product?</h2>
        <a href="?del=1">I am</a>
    </div>

    <div class="edit none">
        <form method="post">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="price">Price</label>
            <input type="text" name="price" id="price">
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
            <button>Complete</button>
        </form>
    </div>

    <header>
        <div class="header">
            <ul class="header-list">
                <li class="header-item not-image btn-li"><button class="btn"><img class="menu" src="{% static "menu.png" %}" alt="menu"></button></li>
                <li class="header-item not-image"><a href="{% url "main:goods_page" %}">Products</a></li>
                <li class="header-item not-image"><a href="#">Profile</a></li>
                <li class="header-item not-image"><a href="#">Top up balance</a></li>
                <li class="header-item not-image"><a href="#">Balance: 123 $</a></li>
                <li class="header-item image"><img class="img" src="../images/pfp.png" alt="pfp"></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="main">
            <div class="product">
                {% if prod.image %}
                <img src="{{ prod.image.url }}" alt="product-image" class="product-img">
                {% else %}
                <img src="{% static "no-img.png" %}" alt="product-image" class="product-img">
                {% endif %}
                <h2>{{ prod.name }}</h2>
                <h3>{{ prod.price }} $</h3>
                <p>{{ prod.description }}</p>
                <!-- ONLY 7 CHARACTERS IN NAME ARE SHOWN OTHERS ARE HIDDEN -->
                <h3 class="h3"><a href="#">@{{ prod.seller.username }} rate: {{ rate }}</a></h3>
                {% comment %} <h3 class="h3"><a href="#">@Vadik33. rate: 3.6</a></h3> {% endcomment %}
                {% if request.user == prod.seller %}
                <div class="btns">
                    <button class="btn-edit">Edit</button>
                    <button class="btn-delete">Delete</button>
                </div>
                {% else %}
                <div class="as">
                    <a href="?sold=1">Buy</a>
                    <a href="#">Write him</a>
                </div>
                {% endif %}
            </div>
        </div>
    </main>

    <script src="{% static "main/js/goods_menu.js" %}"></script>
    <script src="{% static "main/js/del-menu.js" %}"></script>
    <script src="{% static "main/js/edit-menu.js" %}"></script>
</body>
</html>